<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Courgette&family=Dancing+Script&family=Fascinate&family=Lobster&display=swap');
    *{
      margin: 0;
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      background-color:grey;

    }

    #nav {
      background-color: #0a1627;
      color: white;
      display: inline;
      /* flex-direction: row; */
      display: flex;
      justify-content: space-between;
      /* border: 3px solid; */
      align-items: center;
      width: 100%;
      margin: 0px;
      padding: 0;
      box-shadow: 5px 10px solid white;
    }



    .container {

      text-align: center;
      flex-direction: row;
      list-style: none;
      /* background-color: cyan; */

    }

    #impact {
      font-family: 'Acme', sans-serif;
      /* background-color: pink; */
      background-image:linear-gradient(to bottom right, #84c0d7, #c99244)

    }

    .door {
      text-align: center;
      font-family: 'Lobster', cursive;
      background-color: rgb(217, 208, 213);
    };



    #charge {
      font-family: 'Acme', sans-serif;
      font-family: 'Anton', sans-serif;
      font-family: 'Courgette', cursive;
      font-family: 'Dancing Script', cursive;
      font-family: 'Fascinate', cursive;
      font-family: 'Lobster', cursive;
      text-align: center;
      background-color:red;
    }

    #charge img {
      /* height: 300px; */
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      /* background-color: red; */

    }
    /* .developerBox{
      float: right;
      list-style: none;
      text-align: center;
    } */
    .developer{
      list-style: none;
      flex-direction:row;
      text-align: center;
      background-color:#728684;

    }
    .developer img{
   
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius:30px;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      
    }
    .socialSites{
      /* flex-direction: column; */
      list-style: none;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            margin: 14px;
            padding: 40px;
            /* background: black; */
            color: white;
    }
    .happy{
      text-align: center;
      background-image:linear-gradient(to bottom right,white,pink);

    }

    .army{
      text-align: center;
      /* background-color: #B0A99F; */
      /* background-image: -moz-element(orangered,green); */
      background-image:linear-gradient(to bottom right, #ec170d, #0fdb71);
    }

    .army img{
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    #footer{
      background-color: black;
       color: white;
       text-align: center;
      
    }

  </style>
</head>

<body>
  <nav>
    <div id="nav">



      <div>
        <!-- <img src="/images/Mainlogo.png" alt="" width="150px"> -->
        <img src="/templet.jpg" alt="" width="250px">
      </div>
      <div id="Name">
        <!-- <h1>RIKSHITO</h1> -->
      </div>
      <div>
        <div class="link">
          <a href="/welcome">Home</a>
          <a href="/aboutUS">About</a>
          <a href="/booking">Booking</a>
          <a href="/contact">Contact</a>
          <a href="/logout">log out</a>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <img src="/HomeP.jpg" alt="" width="100%">


  </main>

  <div class="army">
    <h1 style="color: white;">We Respect INDIAN ARMY from bottom of HEART</h1>
    <img src="/indianArmy.jpg" alt="" width="50%">
    <h2>We are Proving a FREE services to Indian ARMY</h2>
    <h2>We will never ask a single coin from the person who belongs to DEFENCE </h2>
    <h2>They are working for us all the time and i just think of it i will help them indirectly </h2>
  </div>
  <div class="video">
    <!-- <link rel="stylesheet" href="https://www.youtube.com/shorts/YXqKPRw0KJU"> -->
  </div>
  




  <div class="container">
    <!-- <li> -->

    <div id="impact">
      <h1>IMPACT</h1>
      <h2> We providing a best Service in Your city and it will help you definetely </h2>
      <h2>We Promise you to have a Safest and Easiest ride with Your Family </h2>
      <img src="/Namaste.jpg" alt="" width="50%">
      <!-- <img src="/images/Mainlogo.png" alt="" width="200px"> -->
      <!-- </li> -->
      <!-- <li>
    </li> -->
    </div>

  


  <div class="door">


    <h1>A DOOR to DOOR Service </h1>
    <h2>We Pick you From Your door and complete the Ride and Drop on exect that place what you have menioned while
      booking and we make sure our caption will drop you in destination door</h2>
    <img src="/doorLogo.jpg" alt="" width="50%">

  </div>

  <div id="charge" style="background-color: #fdebdb">
    <h1>IN A GENUIUE RATE </h1>
    <h2>( Not to worry about the budget )</h2>
    <h2>We Charging only 25Rs. per Kilometer it will not more than auto charge </h2>
    <img src="/money2.jpg" alt="" width="40%">

  </div>


  </div>

  <div class="developer">
    <h1>DEVELOPED BY :</h1>
    <li><img src="/Dipanshu.jpg" alt="" width="50%"></li>
    <li><h1>Dipanshu Singh</h1></li>
    <li><h2>BCA Student </h2></li>
    <div class="developerBox">

   

    <div class="socialSites">
    

    <li>
      <a href="">

          <img src="/call.jpg" alt="" width="50px">
      </a>
  </li>
  <li>
      <a href="https://www.instagram.com/r.a.t.h.o.r.e21/">
          <img src="/insta-logo.jpg" alt="" width="50px">
      </a>
  </li>
  <li>
      <a href="https://twitter.com/i/flow/single_sign_on">
          <img src="/twitter.png" alt="" width="50px">
      </a>
  </li>
  <li>
      <a href="https://www.facebook.com/dipanshu.rathore.589">
          <img src="/Facebook_Logo.png" alt="" width="50px">
      </a>
  </li>
  <li>
      <a href="https://web.whatsapp.com/">
          <img src="/whatsp.jpg" alt="" width="50px">
      </a>
  </li>

</div>

</div>


  </div>

  <div class="happy">
    <h1>Happy customer</h1>
    <img src="/smile.jpg" alt="" width="50%">
    <h2>We will work for a community that will improve us</h2>
    <h2>We are here only for making easy ride for the needy person </h2>
    <h2>We will make easy to book a ride and also work for our drivers for their easy booking </h2>
  </div>


  <footer id="footer">
    <h3 >copyright &#169 2023 Technology pvt. ltd. all rights reserved</h3>
  </footer>

  
</body>

</html>