<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #nav {
            background-color: #0a1627;
            color: white;
            display: inline;
            /* flex-direction: row; */
            display: flex;
            justify-content: space-between;
            /* border: 3px solid; */
            align-items: center;
            width: 100%;
            margin: 0px;
            padding: 0;
            box-shadow: 5px 10px solid white;
        }

        .container {
            text-align: center;
            /* position: fixed; */
            background-color: #cbdbff;
            /* border-radius: 5px s/olid yellow; */
        }

        ;

        .box {
            list-style: none;
        }

        #contact {
            list-style: none;
            /* flex-direction:row; */
            justify-content: space-between;
            display: flex;
            margin: 50px;
            padding: 0;
        }

        #footer {
            background-color: black;
            color: white;
            text-align: center;
           

        }
    </style>
</head>

<body>
    <nav>
        <div id="nav">

            <div>
                <!-- <img src="/images/Mainlogo.png" alt="" width="150px"> -->
                <img src="/templet.jpg" alt="" width="250px">
            </div>
            <div id="Name">
                <!-- <h1>RIKSHITO</h1> -->
            </div>
            <div>
                <div class="link">
                    <a href="/welcome">Home</a>
                    <a href="/aboutUS">About</a>
                    <a href="/booking">Booking</a>
                    <a href="/contact">Contact</a>
                    <a href="/logout">log out</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <img src="/contact_us.jpg" alt="" width="100%">


        <div class="box">
            <h1>GET IN TOUCH WITH US</h1>

            <div id="contact">
                <li>
                    <h2>By Phone</h2>
                    <p>+916201403690</p>
                    <p>(Mon - Fri : 9am-9pm)</p>
                </li>


                <li>

                    <h2>By E-mail</h2>
                    <p>rathoredipanshu21@gmail.com</p>
                    <p>(Mon - Fri : 9am-9pm)</p>

                </li>

                <li>


                    <h2>Visit Place</h2>
                    <p>Hirapur,Dhanbad</p>


                </li>
            </div>
            <div class="review">
                <!-- <input type="text" > -->
                <textarea name="" id="" cols="30" rows="10"
                    placeholder="Send a important notes.Will reply in few hours"></textarea>
            </div>





        </div>

    </div>

    <footer id="footer">
        <h3>copyright &#169 2023 Technology Pvt. Ltd. all rights reserved</h3>
    </footer>




</body>

</html>